<a href="https://colab.research.google.com/github/kig2929kig/colab/blob/main/Lession1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

파이썬 프로그래밍 1장

In [1]:
print("안산공고 컴퓨터과 3학년 2반 0번 홍길동")

안산공고 컴퓨터과 3학년 2반 0번 홍길동

In [2]:
print("내일은 즐거운 졸업여행")
print("준비물 잘 챙기자.")
print("다치지말고 재미있게 놀다 오자. :)")

내일은 즐거운 졸업여행
준비물 잘 챙기자.
다치지말고 재미있게 놀다 오자. :)

변수 사용 예)

In [3]:
a = 100
b = 200
result = a + b
print(a, "+", b, "=", result)

100 + 200 = 300

In [4]:
num1 = 100
num2 = 200
result = num1 * num2
print(num1, "x", num2, "=", result)

100 x 200 = 20000

In [5]:
num1 = 100
num2 = 200
result = num1 / num2
print(num1, "/", num2, "=", result)

100 / 200 = 0.5

In [6]:
num1 = 100
num2 = 200
result = num1 - num2
print(num1, "-", num2, "=", result)

100 - 200 = -100

몫을 구하는 연산자 : //

In [7]:
num1 = 100
num2 = 200
result = num1 // num2
print(num1, "//", num2, "=", result)

100 // 200 = 0

나머지 구하는 연산자 : %

In [9]:
num1 = 1
num2 = 2
result = num1 % num2
print(num1, "%", num2, "=", result)

1 % 2 = 1

In [11]:
num1 = 100
num2 = 20
result = num1 ** num2
print(num1, "**", num2, "=", result)

100 ** 20 = 10000000000000000000000000000000000000000