<a href="https://colab.research.google.com/github/kig2929kig/colab/blob/main/Lession4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

4장

데이터 타입

In [2]:
var1, var2, var3, var4 = 100, 3.14, "안산공고", True
print("var1 변수의 데이터 타입은 " ,type(var1))
print("var2 변수의 데이터 타입은 " ,type(var2))
print("var3 변수의 데이터 타입은 " ,type(var3))
print("var4 변수의 데이터 타입은 " ,type(var4))

var1 변수의 데이터 타입은  <class 'int'>
var2 변수의 데이터 타입은  <class 'float'>
var3 변수의 데이터 타입은  <class 'str'>
var4 변수의 데이터 타입은  <class 'bool'>

문자열 함수 예제 len(), upper(), lower(), count(), isupper(), islower()

In [3]:
str1 = input("문자열 입력 : ")
print("입력된 문자열의 길이 : ", len(str1))
print("입력된 문자열을 대문자로 변환 : ", str1.upper())
print("입력된 문자열을 소문자로 변환 : ", str1.lower())
print("입력된 문자열 중 ansan 몇번 나오는지 : ", str1.count("ansan"))
print("입력된 문자열은 대문자인가요? ", str1.isupper())
print("입력된 문자열은 소문자인가요? ", str1.islower())

문자열 입력 : Ansan Technical High School, Ansan-Si, Ansan lake
입력된 문자열의 길이 :  49
입력된 문자열을 대문자로 변환 :  ANSAN TECHNICAL HIGH SCHOOL, ANSAN-SI, ANSAN LAKE
입력된 문자열을 소문자로 변환 :  ansan technical high school, ansan-si, ansan lake
입력된 문자열 중 ansan 몇번 나오는지 :  0
입력된 문자열은 대문자인가요?  False
입력된 문자열은 소문자인가요?  False