<a href="https://colab.research.google.com/github/kig2929kig/colab/blob/main/%EB%8D%B0%EC%9D%B4%ED%84%B0%EB%B6%84%EC%84%9D%EB%B0%8F%EC%8B%9C%EA%B0%81%ED%99%94ipynb.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 데이터 분석과 시각화
+ 기상자료개방포털 (https://data.kma.go.kr)  
+ 공공데이터포털  
+ 서울 열린데이터 광장(https://data.seoul.go.kr/)  

##  CSV 파일
+ CSV(Comma-Separated Values) 각각의 데이터 값을 콤마(,)로 구분하는 파일.
+ 데이터 분석 전문가들이 자주 사용하는 파일 형식.
+ 메모장, 엑셀 프로그램에서 열어볼 수 있음.
+ 공공데이터포털에서 제공하는 파일 형식

In [ ]:
import csv

f = open('/content/drive/MyDrive/Colab Notebooks/test.csv', 'r', encoding='cp949') #utf8

data = csv.reader(f, delimiter=',')
#print(data)
for row in data : #리스트 - 인덱싱과 슬라이싱 가능
  print(row) # 한줄씩 출력

f.close()

<_csv.reader object at 0x7f19675294d0>
['기온분석']
['[검색조건]']
['자료구분 : 일']
['자료형태 : 기본']
['지역/지점 : 서울']
['기간 : 20221002~20221031']
[]
['날짜', '지점', '평균기온(℃)', '최저기온(℃)', '최고기온(℃)']
[]
['\t2022-10-02', '108', '19.4', '17.2', '21.6']
['\t2022-10-03', '108', '21.4', '17.5', '23.4']
['\t2022-10-04', '108', '17.9', '14.2', '23']
['\t2022-10-05', '108', '16.6', '14.1', '21.6']
['\t2022-10-06', '108', '15.8', '12.7', '19.1']
['\t2022-10-07', '108', '14.3', '11', '18.6']
['\t2022-10-08', '108', '15.8', '11.1', '21.6']
['\t2022-10-09', '108', '13.1', '10.7', '14.5']
['\t2022-10-10', '108', '9.9', '8.2', '11.9']
['\t2022-10-11', '108', '11.1', '7.4', '16.4']
['\t2022-10-12', '108', '13.5', '6.5', '20.6']
['\t2022-10-13', '108', '16.3', '10.7', '22.7']
['\t2022-10-14', '108', '17.1', '12.4', '23']
['\t2022-10-15', '108', '18.2', '12.6', '24.4']
['\t2022-10-16', '108', '16.9', '15.1', '20.5']
['\t2022-10-17', '108', '11.2', '7.4', '15.1']
['\t2022-10-18', '108', '9.4', '5', '14.2']
['\t2022-10-19', '108', '10.5', '4.4', '16.8']
['\t2022-10-20', '108', '12.9', '6', '19.7']
['\t2022-10-21', '108', '14', '8.8', '20.9']
['\t2022-10-22', '108', '15.1', '10.5', '20.8']
['\t2022-10-23', '108', '14', '10.4', '18.6']
['\t2022-10-24', '108', '10.6', '7.5', '14.8']
['\t2022-10-25', '108', '11.3', '5.9', '17.6']
['\t2022-10-26', '108', '12.9', '8', '17.8']
['\t2022-10-27', '108', '13.2', '8.6', '18.9']
['\t2022-10-28', '108', '13.6', '8.2', '20.6']
['\t2022-10-29', '108', '14.8', '10.2', '21.3']
['\t2022-10-30', '108', '14.9', '10.4', '21.3']
['\t2022-10-31', '108', '14.9', '11.2', '21.1']
['\t']
[]

## 헤더 저장
+ 데이터 파일에서 여러 가지 값들이 어떤 의미를 갖는지 표시한 행
+ 수많은 데이터를 다룰 때 표지판과 같은 역할
+ 헤더를 통해 각 열의 데이터가 어떤 의미를 갖는지 알 수 있기 때문에 매우 중요한 데이터

In [26]:
import csv

f = open('/content/drive/MyDrive/Colab Notebooks/test.csv', 'r', encoding='cp949') 

data = csv.reader(f)

header = next(data)# next() 메소드를 사용하여 데이터의 첫 번째 행을 변수에 저장
print(header) 
f.close()

['날짜', '지점', '평균기온(℃)', '최저기온(℃)', '최고기온(℃)']

## 서울 열린데이터 광장 - seoul.csv

In [ ]:
import csv

f = open('/content/drive/MyDrive/Colab Notebooks/seoul.csv', 'r') 

data = csv.reader(f)
#print(data)

header = next(data)
print(header)
print()
for row in data :
  print(row)

f.close()

## pandas
+ 데이터 분석용 라이브러리로 데이터를 다루는 패키지 중 하나
+ 데이터 분석을 위한 효율적인 데이터 구조를 제공, 1차원 배열 형태의 데이터 구조인 Series와 2차원 배열 형태의 데이터 구조인 Data Frame으로 구성
+ 데이터 분석의 시작을 pandas라고도 불림.
+ 엑셀의 스프레드시트와 유사한 형태이며 파이썬으로 데이터를 쉽게 처리
+ 시계열 데이터(시간의 경과에 따라 관측된 결과 값)를 조작하고 운영하기 위한 데이터를 제공
+ SQL 같은 일반 데이터베이스처럼 데이터를 합치고 관계연산을 수행하는 것이 가능

pandas 라이브러리는 내장 라이브러리가 아니기 때문에 원래는 별도로 설치해야함. 코랩에서는 자동으로 설치되어 있음.

In [34]:
import pandas as pd

name = ['Bob', 'Jessica', 'Mary', 'John', 'Mel']
births = [968, 155, 77, 578, 973]
custom = [1, 5, 25, 13, 23232]

DataSet = list(zip(name, births))
#print(DataSet)
df = pd.DataFrame(data = DataSet, columns = ['Name', 'Births'])
df.head() # 데이터 앞에서 부터 5개 출력
#df.head(2)

      Name  Births
0      Bob     968
1  Jessica     155
2     Mary      77
3     John     578
4      Mel     973

## pandas 자료형 - 시리즈(Series)
+ 1차원 배열 형태의 데이터 구조 사용.
+ 가로 방향으로 크기 변경
+ 열 1개를 의미

In [36]:
import pandas as pd

series_ex = pd.Series(['월', '화', '수', '목', '금', '토', '일'], index=[0,1,2,3,4,5,6])
print(series_ex) 
print(series_ex[0])

0    월
1    화
2    수
3    목
4    금
5    토
6    일
dtype: object
월

pandas 자료형 - 데이터 프레임(Data Frame)
+ 엑셀에서 볼 수 있는 시트와 동일한 개념
+ 2차원 배열 형태의 데이터 구조로 행과 열이 있음
+ 행을 구분해주는 인덱스(index)와 열을 구분해주는 컬럼(column)

In [45]:
import pandas as pd

name = ['Bob', 'Jessica', 'Mary', 'John', 'Mel']
births = [968, 155, 77, 578, 973]
custom = [1, 5, 25, 13, 23232]

DataSet = list(zip(name, births))
#print(DataSet)
df = pd.DataFrame(data = DataSet, columns = ['Name', 'Births'])
df.head() # 데이터 앞에서 부터 5개 출력
#df.head(2)

      Name  Births
0      Bob     968
1  Jessica     155
2     Mary      77
3     John     578
4      Mel     973

## 데이터 프레임
+ dtypes : 열의 타입 정보
+ index : 행의 형태로 정보를 포함
+ columns : 데이터 프레임의 열 정보를 조금 더 간략한 형태로 요약

In [41]:
df.dtypes

Name      object
Births     int64
dtype: object

## 판다스 자료형
+ object 문자열
+ int64 : 정수
+ float64 : 소숫점을 가진 숫자

In [42]:
df.index

RangeIndex(start=0, stop=5, step=1)

+ start : 인덱스 시작
+ stop : 인덱스 끝
+ step : 증가 값

In [43]:
df.columns

Index(['Name', 'Births'], dtype='object')

In [47]:
df['Name']

0        Bob
1    Jessica
2       Mary
3       John
4        Mel
Name: Name, dtype: object

In [48]:
df[0:3] # 0 ~ 2 번째 인덱스를 선택

      Name  Births
0      Bob     968
1  Jessica     155
2     Mary      77

## pandas 데이터 추출하기

In [52]:
import pandas as pd

names = ['Bob', 'Jessica', 'Mary', 'John', 'Mel', 'Henry']
births = [1990, 1988, 1987, 1978, 2000, 2020]
custom = [1, 5, 6, 7, 8, 10] # 고객번호

DataSet = list(zip(names, births))
#print(DataSet)
df = pd.DataFrame(data = DataSet, columns= ['Names', 'Births'])
#print(df)
df.head()

     Names  Births
0      Bob    1990
1  Jessica    1988
2     Mary    1987
3     John    1978
4      Mel    2000

In [54]:
names_df = df['Names'] # 1개의 열만 추출하면 시리즈를 얻음
print(type(names_df))
print(names_df.head())

<class 'pandas.core.series.Series'>
0        Bob
1    Jessica
2       Mary
3       John
4        Mel
Name: Names, dtype: object

In [65]:
subset = df[['Names', 'Births']]
print(type(subset))
print(subset.head(6))

<class 'pandas.core.frame.DataFrame'>
     Names  Births
0      Bob    1990
1  Jessica    1988
2     Mary    1987
3     John    1978
4      Mel    2000
5    Henry    2020

## 행 단위 데이터 추출
+ loc : 인덱스를 기준으로 행 데이터 추출
+ iloc : 행번호를 기준으로 행 데이터 추출

In [58]:
print(df.loc[0])

Names      Bob
Births    1990
Name: 0, dtype: object

In [ ]:
print(df.loc[-1]) # loc를 사용 시 -1를 사용하지 않음.

In [67]:
print(df.iloc[1])

Names     Jessica
Births       1988
Name: 1, dtype: object

In [63]:
print(df.iloc[-1])

Names     Henry
Births     2020
Name: 5, dtype: object

In [68]:
print(df.loc[[0,3,5]])

   Names  Births
0    Bob    1990
3   John    1978
5  Henry    2020

In [71]:
print(df.tail(n=1)) # 데이터 프레임

   Names  Births
5  Henry    2020

In [72]:
sub_loc = df.loc[0]
sub_tail = df.tail(n=1)

print(type(sub_loc))
print(type(sub_tail))

<class 'pandas.core.series.Series'>
<class 'pandas.core.frame.DataFrame'>

## 슬라이싱 구문으로 데이터 추출

In [74]:
subset = df.loc[:,['Names', 'Births']] #열 지정값으로 - 인덱스를 기준
print(subset.head())

     Names  Births
0      Bob    1990
1  Jessica    1988
2     Mary    1987
3     John    1978
4      Mel    2000

In [75]:
print(df.iloc[[0,3,5], [0]]) # 열 지정값이 인덱스 - 행번호를 기준

   Names
0    Bob
3   John
5  Henry

## 마스크 기능, 조건, 행과 열 바꾸기

구글 검색 창에 olympic medal 입력  
https://en.wikipedia.org/wiki/All-time_Olympic_Games_medal_table

In [80]:
import pandas as pd
df = pd.read_html('https://ko.wikipedia.org/wiki/%EC%98%AC%EB%A6%BC%ED%94%BD_%EB%A9%94%EB%8B%AC_%EC%A7%91%EA%B3%84')
print(df)

[             국가 (IOC 코드)  하계 참가 횟수  Unnamed: 2  Unnamed: 3  Unnamed: 4      계  \
0           아프가니스탄 (AFG)        14           0           0           2      2
1              알제리 (ALG)        13           5           4           8     17
2            아르헨티나 (ARG)        24          21          25          28     74
3            아르메니아 (ARM)         6           2           6           6     14
4    오스트랄라시아 (ANZ) [ANZ]         2           3           4           5     12
..                   ...       ...         ...         ...         ...    ...
148       독립 (IOA) [IOA]         3           1           0           1      2
149    독립 참가 (IOP) [IOP]         1           0           1           2      3
150  러시아 출신 올림픽 선수 (OAR)         0           0           0           0      0
151       혼성 (ZZX) [ZZX]         3           8           5           4     17
152                   총합        28        5116        5082        5490  15688

     동계 참가 횟수  Unnamed: 7  Unnamed: 8  Unnamed: 9   계.1  전체 참가 횟수  \
0           0           0           0           0     0        14
1           3           0           0           0     0        16
2          19           0           0           0     0        43
3           7           0           0           0     0        13
4           0           0           0           0     0         2
..        ...         ...         ...         ...   ...       ...
148         0           0           0           0     0         3
149         0           0           0           0     0         1
150         1           2           6           9    17         1
151         0           0           0           0     0         3
152        23        1062        1058        1050  3170        51

     Unnamed: 12  Unnamed: 13  Unnamed: 14     총합
0              0            0            2      2
1              5            4            8     17
2             21           25           28     74
3              2            6            6     14
4              3            4            5     12
..           ...          ...          ...    ...
148            1            0            1      2
149            0            1            2      3
150            2            6            9     17
151            8            5            4     17
152         6178         6140         6540  18858

[153 rows x 16 columns],                  국가 (IOC 코드)  하계 참가 횟수  동계 참가 횟수  전체 참가 횟수
0                 알바니아 (ALB)         8         4        12
1              아메리칸사모아 (ASA)         8         1         9
2                  안도라 (AND)        11        12        23
3                  앙골라 (ANG)         9         0         9
4              앤티가 바부다 (ANT)        10         0        10
..                       ...       ...       ...       ...
74          중화민국 (ROC) [ROC]         3         0         3
75            자르 (SAA) [SAA]         1         0         1
76           북예멘 (YAR) [YAR]         2         0         2
77  에멘 인민 민주 공화국 (YMD) [YMD]         1         0         1
78            난민 (ROT) [ROT]         1         0         1

[79 rows x 4 columns],                      국가 (IOC 코드) 하계 참가 횟수  Unnamed: 2  Unnamed: 3  Unnamed: 4  \
0                    독일 (GER)[5]       16         191         192         232
1              독일 (GER) (EUA)[6]       19         219         246         268
2        독일 (GER) (EUA) (FRG)[7]       24         275         313         349
3  독일 (GER) (EUA) (FRG) (GDR)[8]    25[9]         428         442         476

      계  동계 참가 횟수  Unnamed: 7  Unnamed: 8  Unnamed: 9  계.1 전체 참가 횟수  \
0   615        12          92          88          60  240       28
1   733        15         100          94          65  259       34
2   937        21         111         109          78  298       45
3  1346        21         150         145         113  408    46[9]

   Unnamed: 12  Unnamed: 13  Unnamed: 14    총합
0          283          280          292   855
1          319          340          333   992
2          386          422          427  1235
3          578          587          589  1754  ,                                 국가 (IOC 코드)  하계 참가 횟수  Unnamed: 2  Unnamed: 3  \
0                       러시아 출신 올림픽 선수 (OAR)         0           0           0
1                             러시아 (RUS)[10]         6         148         125
2                       러시아 (RUS) (RU1)[11]         9         149         129
3                               소련 (URS)[7]         9         395         319
4                         소련 (URS) (EUN)[8]        10         440         357
5  러시아 (RUS) (RU1) (OAR) 소련 (URS) (EUN)[12]        19         590         485

   Unnamed: 4     계  동계 참가 횟수  Unnamed: 7  Unnamed: 8  Unnamed: 9  계.1  \
0           0     0         1           2           6           9   17
1         153   426         6          47          38          35  120
2         156   434         6          47          38          35  120
3         296  1010         9          78          57          59  194
4         325  1122        10          87          63          67  217
5         481  1556        17         136         107         111  354

   전체 참가 횟수  Unnamed: 12  Unnamed: 13  Unnamed: 14    총합
0         1            2            6            9    17
1        12          195          163          188   546
2        12          195          163          188   546
3        18          473          376          355  1204
4        20          527          420          392  1339
5        36          726          592          592  1910  ,                                                    0  \
0  ANZ → AUS , NZL 오스트랄라시아(ANZ)는 오스트레일리아(AUS)와 뉴질...

                                                   1
0  SRB , YUG → IOP , SCG 세르비아(SRB, 1912년, 2006년~현...  ,                                                    0  \
0  BIZ 벨리즈는 1968년부터 1972년까지 영국령 온두라스(HBR)로 참가하였다....

                                                   1
0  GUY 1996년 가이아나는 독립하기 이전에 영국령 기아나라는 명칭으로 1948년부...  ,                                                    0  \
0  A 브루나이는 1988년 대회에 선수 없이 임원 한 명만을 보내었다. 이는 참가 집...

                                                   1
0  F 2014년 대회에 인도의 선수들은 인도 올림픽 협회의 자격 정지로 개막식에 올림...  ,                                                    0  \
0  H 불가리아 올림픽 위원회는 소피아에 거주하던 스위스의 체조 교사인 샤를 샴포가 1...

                                                   1
0  N 모나코는 1924년 하계 올림픽 예술에서 동메달을 획득하였다.[15] 그러나 I...  ,   vte올림픽 메달 집계                                     vte올림픽 메달 집계.1
0       하계 올림픽  1896 1900 1904 1908 1912 1920 1924 1928 1932 1...
1       동계 올림픽  1924 1928 1932 1936 1948 1952 1956 1960 1964 1...
2   하계 청소년 올림픽                                     2010 2014 2018
3   동계 청소년 올림픽                                     2012 2016 2020,   vte올림픽 메달리스트 목록                                  vte올림픽 메달리스트 목록.1
0           하계 종목  근대5종 농구 다이빙 레슬링 배구 배드민턴 복싱 비치발리볼 사격 사이클(남/여) 수...
1           동계 종목  노르딕복합 루지 바이애슬론 봅슬레이 쇼트트랙 스노보드 스켈레톤 스키점프 스피드스케이...
2           과거 종목  가라데 라크로스 라켓 로크 모터보트 밀리터리패트롤 소프트볼 야구 주드폼 줄다리기 크...
3           시범 종목  개썰매 글라이딩 글리마 동계5종 라칸 롤러하키 무도 미식축구 밴디 볼링 사바트 스키...
4          비공식 종목  게일릭풋볼 기구 낚시 롱그폼 모터레이싱 모터사이클 불 비둘기레이싱 사이클폴로 소방 ...]