<a href="https://colab.research.google.com/github/kig2929kig/colab/blob/main/%EB%8D%B0%EC%9D%B4%ED%84%B0%EB%B6%84%EC%84%9D%EB%B0%8F%EC%8B%9C%EA%B0%81%ED%99%94ipynb.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 데이터 분석과 시각화
+ 기상자료개방포털 (https://data.kma.go.kr)  
+ 공공데이터포털  
+ 서울 열린데이터 광장(https://data.seoul.go.kr/)  

##  CSV 파일
+ CSV(Comma-Separated Values) 각각의 데이터 값을 콤마(,)로 구분하는 파일.
+ 데이터 분석 전문가들이 자주 사용하는 파일 형식.
+ 메모장, 엑셀 프로그램에서 열어볼 수 있음.
+ 공공데이터포털에서 제공하는 파일 형식

In [ ]:
import csv

f = open('/content/drive/MyDrive/Colab Notebooks/test.csv', 'r', encoding='cp949') #utf8

data = csv.reader(f, delimiter=',')
#print(data)
for row in data : #리스트 - 인덱싱과 슬라이싱 가능
  print(row) # 한줄씩 출력

f.close()

<_csv.reader object at 0x7f19675294d0>
['기온분석']
['[검색조건]']
['자료구분 : 일']
['자료형태 : 기본']
['지역/지점 : 서울']
['기간 : 20221002~20221031']
[]
['날짜', '지점', '평균기온(℃)', '최저기온(℃)', '최고기온(℃)']
[]
['\t2022-10-02', '108', '19.4', '17.2', '21.6']
['\t2022-10-03', '108', '21.4', '17.5', '23.4']
['\t2022-10-04', '108', '17.9', '14.2', '23']
['\t2022-10-05', '108', '16.6', '14.1', '21.6']
['\t2022-10-06', '108', '15.8', '12.7', '19.1']
['\t2022-10-07', '108', '14.3', '11', '18.6']
['\t2022-10-08', '108', '15.8', '11.1', '21.6']
['\t2022-10-09', '108', '13.1', '10.7', '14.5']
['\t2022-10-10', '108', '9.9', '8.2', '11.9']
['\t2022-10-11', '108', '11.1', '7.4', '16.4']
['\t2022-10-12', '108', '13.5', '6.5', '20.6']
['\t2022-10-13', '108', '16.3', '10.7', '22.7']
['\t2022-10-14', '108', '17.1', '12.4', '23']
['\t2022-10-15', '108', '18.2', '12.6', '24.4']
['\t2022-10-16', '108', '16.9', '15.1', '20.5']
['\t2022-10-17', '108', '11.2', '7.4', '15.1']
['\t2022-10-18', '108', '9.4', '5', '14.2']
['\t2022-10-19', '108', '10.5', '4.4', '16.8']
['\t2022-10-20', '108', '12.9', '6', '19.7']
['\t2022-10-21', '108', '14', '8.8', '20.9']
['\t2022-10-22', '108', '15.1', '10.5', '20.8']
['\t2022-10-23', '108', '14', '10.4', '18.6']
['\t2022-10-24', '108', '10.6', '7.5', '14.8']
['\t2022-10-25', '108', '11.3', '5.9', '17.6']
['\t2022-10-26', '108', '12.9', '8', '17.8']
['\t2022-10-27', '108', '13.2', '8.6', '18.9']
['\t2022-10-28', '108', '13.6', '8.2', '20.6']
['\t2022-10-29', '108', '14.8', '10.2', '21.3']
['\t2022-10-30', '108', '14.9', '10.4', '21.3']
['\t2022-10-31', '108', '14.9', '11.2', '21.1']
['\t']
[]

## 헤더 저장
+ 데이터 파일에서 여러 가지 값들이 어떤 의미를 갖는지 표시한 행
+ 수많은 데이터를 다룰 때 표지판과 같은 역할
+ 헤더를 통해 각 열의 데이터가 어떤 의미를 갖는지 알 수 있기 때문에 매우 중요한 데이터

In [ ]:
import csv

f = open('/content/drive/MyDrive/Colab Notebooks/test.csv', 'r', encoding='cp949') 

data = csv.reader(f)

header = next(data)# next() 메소드를 사용하여 데이터의 첫 번째 행을 변수에 저장
print(header) 
f.close()

['날짜', '지점', '평균기온(℃)', '최저기온(℃)', '최고기온(℃)']

## 서울 열린데이터 광장 - seoul.csv

In [ ]:
import csv

f = open('/content/drive/MyDrive/Colab Notebooks/seoul.csv', 'r') 

data = csv.reader(f)
#print(data)

header = next(data)
print(header)
print()
for row in data :
  print(row)

f.close()

## pandas
+ 데이터 분석용 라이브러리로 데이터를 다루는 패키지 중 하나
+ 데이터 분석을 위한 효율적인 데이터 구조를 제공, 1차원 배열 형태의 데이터 구조인 Series와 2차원 배열 형태의 데이터 구조인 Data Frame으로 구성
+ 데이터 분석의 시작을 pandas라고도 불림.
+ 엑셀의 스프레드시트와 유사한 형태이며 파이썬으로 데이터를 쉽게 처리
+ 시계열 데이터(시간의 경과에 따라 관측된 결과 값)를 조작하고 운영하기 위한 데이터를 제공
+ SQL 같은 일반 데이터베이스처럼 데이터를 합치고 관계연산을 수행하는 것이 가능

pandas 라이브러리는 내장 라이브러리가 아니기 때문에 원래는 별도로 설치해야함. 코랩에서는 자동으로 설치되어 있음.

In [ ]:
import pandas as pd

name = ['Bob', 'Jessica', 'Mary', 'John', 'Mel']
births = [968, 155, 77, 578, 973]
custom = [1, 5, 25, 13, 23232]

DataSet = list(zip(name, births))
#print(DataSet)
df = pd.DataFrame(data = DataSet, columns = ['Name', 'Births'])
df.head() # 데이터 앞에서 부터 5개 출력
#df.head(2)

      Name  Births
0      Bob     968
1  Jessica     155
2     Mary      77
3     John     578
4      Mel     973

## pandas 자료형 - 시리즈(Series)
+ 1차원 배열 형태의 데이터 구조 사용.
+ 가로 방향으로 크기 변경
+ 열 1개를 의미

In [ ]:
import pandas as pd

series_ex = pd.Series(['월', '화', '수', '목', '금', '토', '일'], index=[0,1,2,3,4,5,6])
print(series_ex) 
print(series_ex[0])

0    월
1    화
2    수
3    목
4    금
5    토
6    일
dtype: object
월

pandas 자료형 - 데이터 프레임(Data Frame)
+ 엑셀에서 볼 수 있는 시트와 동일한 개념
+ 2차원 배열 형태의 데이터 구조로 행과 열이 있음
+ 행을 구분해주는 인덱스(index)와 열을 구분해주는 컬럼(column)

In [ ]:
import pandas as pd

name = ['Bob', 'Jessica', 'Mary', 'John', 'Mel']
births = [968, 155, 77, 578, 973]
custom = [1, 5, 25, 13, 23232]

DataSet = list(zip(name, births))
#print(DataSet)
df = pd.DataFrame(data = DataSet, columns = ['Name', 'Births'])
df.head() # 데이터 앞에서 부터 5개 출력
#df.head(2)

      Name  Births
0      Bob     968
1  Jessica     155
2     Mary      77
3     John     578
4      Mel     973

## 데이터 프레임
+ dtypes : 열의 타입 정보
+ index : 행의 형태로 정보를 포함
+ columns : 데이터 프레임의 열 정보를 조금 더 간략한 형태로 요약

In [ ]:
df.dtypes

Name      object
Births     int64
dtype: object

## 판다스 자료형
+ object 문자열
+ int64 : 정수
+ float64 : 소숫점을 가진 숫자

In [ ]:
df.index

RangeIndex(start=0, stop=5, step=1)

+ start : 인덱스 시작
+ stop : 인덱스 끝
+ step : 증가 값

In [ ]:
df.columns

Index(['Name', 'Births'], dtype='object')

In [ ]:
df['Name']

0        Bob
1    Jessica
2       Mary
3       John
4        Mel
Name: Name, dtype: object

In [ ]:
df[0:3] # 0 ~ 2 번째 인덱스를 선택

      Name  Births
0      Bob     968
1  Jessica     155
2     Mary      77

## pandas 데이터 추출하기

In [ ]:
import pandas as pd

names = ['Bob', 'Jessica', 'Mary', 'John', 'Mel', 'Henry']
births = [1990, 1988, 1987, 1978, 2000, 2020]
custom = [1, 5, 6, 7, 8, 10] # 고객번호

DataSet = list(zip(names, births))
#print(DataSet)
df = pd.DataFrame(data = DataSet, columns= ['Names', 'Births'])
#print(df)
df.head()

     Names  Births
0      Bob    1990
1  Jessica    1988
2     Mary    1987
3     John    1978
4      Mel    2000

In [ ]:
names_df = df['Names'] # 1개의 열만 추출하면 시리즈를 얻음
print(type(names_df))
print(names_df.head())

<class 'pandas.core.series.Series'>
0        Bob
1    Jessica
2       Mary
3       John
4        Mel
Name: Names, dtype: object

In [ ]:
subset = df[['Names', 'Births']]
print(type(subset))
print(subset.head(6))

<class 'pandas.core.frame.DataFrame'>
     Names  Births
0      Bob    1990
1  Jessica    1988
2     Mary    1987
3     John    1978
4      Mel    2000
5    Henry    2020

## 행 단위 데이터 추출
+ loc : 인덱스를 기준으로 행 데이터 추출
+ iloc : 행번호를 기준으로 행 데이터 추출

In [ ]:
print(df.loc[0])

Names      Bob
Births    1990
Name: 0, dtype: object

In [ ]:
print(df.loc[-1]) # loc를 사용 시 -1를 사용하지 않음.

In [ ]:
print(df.iloc[1])

Names     Jessica
Births       1988
Name: 1, dtype: object

In [ ]:
print(df.iloc[-1])

Names     Henry
Births     2020
Name: 5, dtype: object

In [ ]:
print(df.loc[[0,3,5]])

   Names  Births
0    Bob    1990
3   John    1978
5  Henry    2020

In [ ]:
print(df.tail(n=1)) # 데이터 프레임

   Names  Births
5  Henry    2020

In [ ]:
sub_loc = df.loc[0]
sub_tail = df.tail(n=1)

print(type(sub_loc))
print(type(sub_tail))

<class 'pandas.core.series.Series'>
<class 'pandas.core.frame.DataFrame'>

## 슬라이싱 구문으로 데이터 추출

In [ ]:
subset = df.loc[:,['Names', 'Births']] #열 지정값으로 - 인덱스를 기준
print(subset.head())

     Names  Births
0      Bob    1990
1  Jessica    1988
2     Mary    1987
3     John    1978
4      Mel    2000

In [ ]:
print(df.iloc[[0,3,5], [0]]) # 열 지정값이 인덱스 - 행번호를 기준

   Names
0    Bob
3   John
5  Henry

## 마스크 기능, 조건, 행과 열 바꾸기

구글 검색 창에 olympic medal 입력  
https://ko.wikipedia.org/wiki/%EC%98%AC%EB%A6%BC%ED%94%BD_%EB%A9%94%EB%8B%AC_%EC%A7%91%EA%B3%84

In [ ]:
import pandas as pd
df = pd.read_html('https://ko.wikipedia.org/wiki/%EC%98%AC%EB%A6%BC%ED%94%BD_%EB%A9%94%EB%8B%AC_%EC%A7%91%EA%B3%84')
print(df)
#df[2].to_excel("올림픽2.xls")

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:4: FutureWarning: As the xlwt package is no longer maintained, the xlwt engine will be removed in a future version of pandas. This is the only engine in pandas that supports writing in the xls format. Install openpyxl and write to an xlsx file instead. You can set the option io.excel.xls.writer to 'xlwt' to silence this warning. While this option is deprecated and will also raise a warning, it can be globally set and the warning suppressed.
  after removing the cwd from sys.path.

In [ ]:
df[0]

,국가 (IOC 코드),하계 참가 횟수,Unnamed: 2,Unnamed: 3,Unnamed: 4,계,동계 참가 횟수,Unnamed: 7,Unnamed: 8,Unnamed: 9,계.1,전체 참가 횟수,Unnamed: 12,Unnamed: 13,Unnamed: 14,총합
0,아프가니스탄 (AFG),14,0,0,2,2,0,0,0,0,0,14,0,0,2,2
1,알제리 (ALG),13,5,4,8,17,3,0,0,0,0,16,5,4,8,17
2,아르헨티나 (ARG),24,21,25,28,74,19,0,0,0,0,43,21,25,28,74
3,아르메니아 (ARM),6,2,6,6,14,7,0,0,0,0,13,2,6,6,14
4,오스트랄라시아 (ANZ) [ANZ],2,3,4,5,12,0,0,0,0,0,2,3,4,5,12
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
148,독립 (IOA) [IOA],3,1,0,1,2,0,0,0,0,0,3,1,0,1,2
149,독립 참가 (IOP) [IOP],1,0,1,2,3,0,0,0,0,0,1,0,1,2,3
150,러시아 출신 올림픽 선수 (OAR),0,0,0,0,0,1,2,6,9,17,1,2,6,9,17
151,혼성 (ZZX) [ZZX],3,8,5,4,17,0,0,0,0,0,3,8,5,4,17
152,총합,28,5116,5082,5490,15688,23,1062,1058,1050,3170,51,6178,6140,6540,18858

In [2]:
import pandas as pd
df = pd.read_html('https://ko.wikipedia.org/wiki/%EC%98%AC%EB%A6%BC%ED%94%BD_%EB%A9%94%EB%8B%AC_%EC%A7%91%EA%B3%84', header=0, index_col=0)
print(df)

[                     하계 참가 횟수  Unnamed: 2  Unnamed: 3  Unnamed: 4      계  \
국가 (IOC 코드)
아프가니스탄 (AFG)               14           0           0           2      2
알제리 (ALG)                  13           5           4           8     17
아르헨티나 (ARG)                24          21          25          28     74
아르메니아 (ARM)                 6           2           6           6     14
오스트랄라시아 (ANZ) [ANZ]         2           3           4           5     12
...                       ...         ...         ...         ...    ...
독립 (IOA) [IOA]              3           1           0           1      2
독립 참가 (IOP) [IOP]           1           0           1           2      3
러시아 출신 올림픽 선수 (OAR)         0           0           0           0      0
혼성 (ZZX) [ZZX]              3           8           5           4     17
총합                         28        5116        5082        5490  15688

                     동계 참가 횟수  Unnamed: 7  Unnamed: 8  Unnamed: 9   계.1  \
국가 (IOC 코드)
아프가니스탄 (AFG)                0           0           0           0     0
알제리 (ALG)                   3           0           0           0     0
아르헨티나 (ARG)                19           0           0           0     0
아르메니아 (ARM)                 7           0           0           0     0
오스트랄라시아 (ANZ) [ANZ]         0           0           0           0     0
...                       ...         ...         ...         ...   ...
독립 (IOA) [IOA]              0           0           0           0     0
독립 참가 (IOP) [IOP]           0           0           0           0     0
러시아 출신 올림픽 선수 (OAR)         1           2           6           9    17
혼성 (ZZX) [ZZX]              0           0           0           0     0
총합                         23        1062        1058        1050  3170

                     전체 참가 횟수  Unnamed: 12  Unnamed: 13  Unnamed: 14     총합
국가 (IOC 코드)
아프가니스탄 (AFG)               14            0            0            2      2
알제리 (ALG)                  16            5            4            8     17
아르헨티나 (ARG)                43           21           25           28     74
아르메니아 (ARM)                13            2            6            6     14
오스트랄라시아 (ANZ) [ANZ]         2            3            4            5     12
...                       ...          ...          ...          ...    ...
독립 (IOA) [IOA]              3            1            0            1      2
독립 참가 (IOP) [IOP]           1            0            1            2      3
러시아 출신 올림픽 선수 (OAR)         1            2            6            9     17
혼성 (ZZX) [ZZX]              3            8            5            4     17
총합                         51         6178         6140         6540  18858

[153 rows x 15 columns],                           하계 참가 횟수  동계 참가 횟수  전체 참가 횟수
국가 (IOC 코드)
알바니아 (ALB)                       8         4        12
아메리칸사모아 (ASA)                    8         1         9
안도라 (AND)                       11        12        23
앙골라 (ANG)                        9         0         9
앤티가 바부다 (ANT)                   10         0        10
...                            ...       ...       ...
중화민국 (ROC) [ROC]                 3         0         3
자르 (SAA) [SAA]                   1         0         1
북예멘 (YAR) [YAR]                  2         0         2
에멘 인민 민주 공화국 (YMD) [YMD]         1         0         1
난민 (ROT) [ROT]                   1         0         1

[79 rows x 3 columns],                               하계 참가 횟수  Unnamed: 2  Unnamed: 3  Unnamed: 4  \
국가 (IOC 코드)
독일 (GER)[5]                         16         191         192         232
독일 (GER) (EUA)[6]                   19         219         246         268
독일 (GER) (EUA) (FRG)[7]             24         275         313         349
독일 (GER) (EUA) (FRG) (GDR)[8]    25[9]         428         442         476

                                  계  동계 참가 횟수  Unnamed: 7  Unnamed: 8  \
국가 (IOC 코드)
독일 (GER)[5]                     615        12          92          88
독일 (GER) (EUA)[6]               733        15         100          94
독일 (GER) (EUA) (FRG)[7]         937        21         111         109
독일 (GER) (EUA) (FRG) (GDR)[8]  1346        21         150         145

                               Unnamed: 9  계.1 전체 참가 횟수  Unnamed: 12  \
국가 (IOC 코드)
독일 (GER)[5]                            60  240       28          283
독일 (GER) (EUA)[6]                      65  259       34          319
독일 (GER) (EUA) (FRG)[7]                78  298       45          386
독일 (GER) (EUA) (FRG) (GDR)[8]         113  408    46[9]          578

                               Unnamed: 13  Unnamed: 14    총합
국가 (IOC 코드)
독일 (GER)[5]                            280          292   855
독일 (GER) (EUA)[6]                      340          333   992
독일 (GER) (EUA) (FRG)[7]                422          427  1235
독일 (GER) (EUA) (FRG) (GDR)[8]          587          589  1754  ,                                           하계 참가 횟수  Unnamed: 2  Unnamed: 3  \
국가 (IOC 코드)
러시아 출신 올림픽 선수 (OAR)                              0           0           0
러시아 (RUS)[10]                                    6         148         125
러시아 (RUS) (RU1)[11]                              9         149         129
소련 (URS)[7]                                      9         395         319
소련 (URS) (EUN)[8]                               10         440         357
러시아 (RUS) (RU1) (OAR) 소련 (URS) (EUN)[12]        19         590         485

                                          Unnamed: 4     계  동계 참가 횟수  \
국가 (IOC 코드)
러시아 출신 올림픽 선수 (OAR)                                0     0         1
러시아 (RUS)[10]                                    153   426         6
러시아 (RUS) (RU1)[11]                              156   434         6
소련 (URS)[7]                                      296  1010         9
소련 (URS) (EUN)[8]                                325  1122        10
러시아 (RUS) (RU1) (OAR) 소련 (URS) (EUN)[12]         481  1556        17

                                          Unnamed: 7  Unnamed: 8  Unnamed: 9  \
국가 (IOC 코드)
러시아 출신 올림픽 선수 (OAR)                                2           6           9
러시아 (RUS)[10]                                     47          38          35
러시아 (RUS) (RU1)[11]                               47          38          35
소련 (URS)[7]                                       78          57          59
소련 (URS) (EUN)[8]                                 87          63          67
러시아 (RUS) (RU1) (OAR) 소련 (URS) (EUN)[12]         136         107         111

                                          계.1  전체 참가 횟수  Unnamed: 12  \
국가 (IOC 코드)
러시아 출신 올림픽 선수 (OAR)                        17         1            2
러시아 (RUS)[10]                             120        12          195
러시아 (RUS) (RU1)[11]                       120        12          195
소련 (URS)[7]                               194        18          473
소련 (URS) (EUN)[8]                         217        20          527
러시아 (RUS) (RU1) (OAR) 소련 (URS) (EUN)[12]  354        36          726

                                          Unnamed: 13  Unnamed: 14    총합
국가 (IOC 코드)
러시아 출신 올림픽 선수 (OAR)                                 6            9    17
러시아 (RUS)[10]                                     163          188   546
러시아 (RUS) (RU1)[11]                               163          188   546
소련 (URS)[7]                                       376          355  1204
소련 (URS) (EUN)[8]                                 420          392  1339
러시아 (RUS) (RU1) (OAR) 소련 (URS) (EUN)[12]          592          592  1910  , Empty DataFrame
Columns: [SRB , YUG → IOP , SCG 세르비아(SRB, 1912년, 2006년~현재)는 1912년 처음 경기에 참가하였다. 유고슬라비아(YUG, 1920~1992년 동계)는 제2차 세계 대전 이전 1920년부터 1936년까지 유고슬라비아 왕국(1929년까지 정식 명칭은 세르비아-크로아티아-슬로베니아 왕국이었다.)으로 참가하였다. 해체 이전 모든 경기(1948년부터 1992년 동계)에는 유고슬라비아 사회주의 연방공화국이라는 이름으로 참가하였다. 크로아티아, 슬로베니아, 보스니아 헤르체고비나는 1992년부터 별개로 참가하고 있으며, 유고슬라비아 연방 공화국은 유고슬라비아 전쟁과 관련된 유엔 안전 보장 이사회의 제재로 인해, 마케도니아 공화국은 국가 올림픽 위원회가 없어서 독립 참가 선수단(IOP)으로 1992년 대회에 참가하였다. 마케도니아는 1996년부터 독자적으로 참가하고 있다. 세르비아 공화국과 몬테네그로 공화국으로 구성된 세르비아 몬테네그로(SCG, 1996~2006)은 1996년부터 2002년까지 유고슬라비아 연방 공화국으로, 2004년부터 2006년까지는 세르비아 몬테네그로로 참가하였다. 1912년 첫 참가 이후 96년 만인 2008년 대회부터 세르비아는 별개로 참가하고 있으며, 몬테네그로 역시 2008년 대회부터 독자적으로 올림픽에 참여하고 있다. YAR , YMD → YEM 1990년 예멘 통일 이전 북예멘은 예멘 아랍 공화국(YAR)으로 1984년과 1988년 대회에 참가하였고, 남예멘은 예멘 인민 민주 공화국(YMD)으로 1988년 대회에 참가하였다. 예멘(YEM)은 통일 이후 1992년부터 참여하고 있다. ROC → CHN , TPE 중화민국(ROC)은 1932년, 1936년, 1948년 대회에서 타이완을 포함한 중국(당시 CHN)으로 참가하였다. 국공 내전 이후 중화인민공화국(CHN)과 중화 타이베이(TPE)는 별개의 국가로 참가하고 있다. ZZX ZZX는 초기 올림픽(1896~1904)에 존재하였던 다국적 혼성 선수단에 사용된 특별 코드이다. 혼성 선수단이 획득한 메달은 각 개별 국가로 합산되지 않는다. IOA IOA는 IOC가 인정하지 않는 NOC의 선수들을 위해 사용된 특별 코드이다. 2000년 대회에서는 동티모르의 선수단이 개인 선수단(IOA)으로 참가하였다. 2012년 대회에서는 세 명의 전 네덜란드령 안틸레스 선수와 한 명의 남수단 선수가 독립 선수단(IOA)으로 참가하였다. 2016년 대회에서는 쿠웨이트의 선수단이 독립 선수단(IOA)으로 참가하였다. OAR OAR은 IOC가 2018년 동계 대회에 참가한 러시아 출신 선수들을 위해 사용된 특별 코드이다.]
Index: [], Empty DataFrame
Columns: [GUY 1996년 가이아나는 독립하기 이전에 영국령 기아나라는 명칭으로 1948년부터 1964년까지 참가한 적이 있다. HKG 홍콩(HKG)의 메달은 홍콩 차이나 체육 협회 올림픽 위원회의 선수들이 수상한 모든 메달을 포함한다. ‘홍콩’이라는 명칭으로는 1952년부터 1996년까지 참가하였으며, 2000년부터는 ‘홍콩 차이나’라는 이름으로 참여하고 있다. MYA 미얀마는 1948년부터 1988년까지 버마(BIR)로 참가하였다. SAM 사모아는 1994년부터 1996년까지 서사모아로 참가하였다. SRI 스리랑카는 1948년부터 1972년까지 실론(CEY)으로 참가하였다. TAN 탕가니카와 잔지바르는 1964년 4월 탄자니아로 통합하였지만 1964년 대회의 공식 기록에서는 탕가니카라는 명칭을 사용하였다. ZAM 잠비아는 1964년 대회의 마지막 날에 독립하였지만, 전체 경기에서는 북로디지아(NRH)로 참가하였다. ZIM 1980년 짐바브웨가 독립하기 이전에, 남로디지아는 1928년, 1960년, 1964년 대회에 로디지아(RHO)로 참가하였다.]
Index: [], Empty DataFrame
Columns: [F 2014년 대회에 인도의 선수들은 인도 올림픽 협회의 자격 정지로 개막식에 올림픽기와 함께 독립 선수단 자격으로 입장하였다. 2014년 2월 11일, IOC의 제재가 철회되어 인도 이름과 국기를 달고 경기에 참여할 수 있게 되었다. Ia Ib Ic 2000년 동티모르가 개인 선수단(IOA)으로 참가한 것, 2012년 네덜란드령 안틸레스가 독립 선수단(IOA)으로 참가한 것과 2016년 쿠웨이트가 독립 선수단(IOA)으로 참가한 것을 포함하지 않는다. Za Zb Zc Zd Ze Zf Zg Zh Zi Zj Zk Zl Zm 1896년, 1900년, 1904년 대회에서 혼성 선수단으로 참가한 것을 포함하지 않는다.]
Index: [], Empty DataFrame
Columns: [N 모나코는 1924년 하계 올림픽 예술에서 동메달을 획득하였다.[15] 그러나 IOC는 올림픽 예술의 메달을 더 이상 인정하고 있지 않다.[16] Oa Ob 1900년 하계 올림픽 육상 남자 마라톤에서 금메달을 획득한 프랑스의 육상 선수 미셸 테아토는 룩셈부르크에서 태어났다.[17] IOC는 이 메달을 프랑스의 기록으로 인정한다. Pa Pb 1904년 대회에서 알버트 코레이가 프랑스를 대표로 참가한 것에 대해 논쟁이 있다. 경기 공식 기록에서는 ‘시카고 육상 협회 색깔의 옷을 입은 프랑스인’이라고 기술하고 있지만, IOC는 그가 마라톤에서 획득한 메달을 미국의 기록으로 다룬다. 그러나 4mi 단체에서 코레이가 세 명의 미국인과 함께 수상한 은메달은 혼성 선수단의 기록으로 여겨 두 메달의 국적이 상충된다. Qa Qb 일부 자료에서는 1904년 하계 올림픽 레슬링 경기에서 두 명의 선수가 노르웨이 대표로 참가하여 금메달을 획득한 것으로 기록하지만,[18] IOC는 두 메달 모두 미국의 메달로 인정한다. R 1904년 대회에 참가한 미국의 마라톤 선수인 로버트 파울러는 뉴펀들랜드 출신이다. 이로 인해 뉴펀들랜드 식민지는 해당 대회에 참가한 독립국으로 종종 기록되기도 한다.[3] IOC는 이를 인정하고 있지 않다. S 이탈리아 선수인 프랭크 비조니는 1904년 하계 올림픽 사이클 남자 0.25mi 경기 참여 당시 미국에서 살고 있었다.[19] 그러나 IOC는 비조니를 미국 선수로 여기며, 이탈리아의 그 해 올림픽 참가를 인정하지 않는다.]
Index: [],                                                  vte올림픽 메달 집계.1
vte올림픽 메달 집계
하계 올림픽        1896 1900 1904 1908 1912 1920 1924 1928 1932 1...
동계 올림픽        1924 1928 1932 1936 1948 1952 1956 1960 1964 1...
하계 청소년 올림픽                                       2010 2014 2018
동계 청소년 올림픽                                       2012 2016 2020,                                                  vte올림픽 메달리스트 목록.1
vte올림픽 메달리스트 목록
하계 종목            근대5종 농구 다이빙 레슬링 배구 배드민턴 복싱 비치발리볼 사격 사이클(남/여) 수...
동계 종목            노르딕복합 루지 바이애슬론 봅슬레이 쇼트트랙 스노보드 스켈레톤 스키점프 스피드스케이...
과거 종목            가라데 라크로스 라켓 로크 모터보트 밀리터리패트롤 소프트볼 야구 주드폼 줄다리기 크...
시범 종목            개썰매 글라이딩 글리마 동계5종 라칸 롤러하키 무도 미식축구 밴디 볼링 사바트 스키...
비공식 종목           게일릭풋볼 기구 낚시 롱그폼 모터레이싱 모터사이클 불 비둘기레이싱 사이클폴로 소방 ...]

In [ ]:
summer =df[0].iloc[:, :5] #전체 행에서 5열만 가져오기
#summer =df[0].iloc[:5]
summer

             국가 (IOC 코드)  하계 참가 횟수  Unnamed: 2  Unnamed: 3  Unnamed: 4
0           아프가니스탄 (AFG)        14           0           0           2
1              알제리 (ALG)        13           5           4           8
2            아르헨티나 (ARG)        24          21          25          28
3            아르메니아 (ARM)         6           2           6           6
4    오스트랄라시아 (ANZ) [ANZ]         2           3           4           5
..                   ...       ...         ...         ...         ...
148       독립 (IOA) [IOA]         3           1           0           1
149    독립 참가 (IOP) [IOP]         1           0           1           2
150  러시아 출신 올림픽 선수 (OAR)         0           0           0           0
151       혼성 (ZZX) [ZZX]         3           8           5           4
152                   총합        28        5116        5082        5490

[153 rows x 5 columns]

In [ ]:
summer =df[0].iloc[:, :5]
summer
summer.columns = ['경기수', '금','은','동','계']
summer

                     경기수     금     은     동      계
국가 (IOC 코드)
아프가니스탄 (AFG)          14     0     0     2      2
알제리 (ALG)             13     5     4     8     17
아르헨티나 (ARG)           24    21    25    28     74
아르메니아 (ARM)            6     2     6     6     14
오스트랄라시아 (ANZ) [ANZ]    2     3     4     5     12
...                  ...   ...   ...   ...    ...
독립 (IOA) [IOA]         3     1     0     1      2
독립 참가 (IOP) [IOP]      1     0     1     2      3
러시아 출신 올림픽 선수 (OAR)    0     0     0     0      0
혼성 (ZZX) [ZZX]         3     8     5     4     17
총합                    28  5116  5082  5490  15688

[153 rows x 5 columns]

In [ ]:
import pandas as pd
df = pd.read_html('https://ko.wikipedia.org/wiki/%EC%98%AC%EB%A6%BC%ED%94%BD_%EB%A9%94%EB%8B%AC_%EC%A7%91%EA%B3%84', header=0, index_col=0)
summer = df[0].iloc[0:,:5]
summer.columns = ['경기수', '금','은','동','계']
summer.sort_values('금', ascending=False)

                              경기수     금     은     동      계
국가 (IOC 코드)
총합                             28  5116  5082  5490  15688
미국 (USA) [P] [Q] [R] [Z] [F]   27  1022   795   706   2523
소련 (URS) [URS]                  9   395   319   296   1010
영국 (GBR) [GBR] [Z]             28   263   295   293    851
중화인민공화국 (CHN) [CHN]            10   224   167   155    546
...                           ...   ...   ...   ...    ...
레바논 (LIB)                      17     0     2     2      4
세르비아 몬테네그로 (SCG) [SCG]          1     0     2     0      2
지부티 (DJI) [B]                   8     0     0     1      1
키프로스 (CYP)                     10     0     1     0      1
아프가니스탄 (AFG)                   14     0     0     2      2

[153 rows x 5 columns]

In [ ]:
summer.to_excel('하계올림픽메달.xlsx')

## 데이터 프레임
+ 2차원 배열 형태의 데이터 프레임은 행과 열이 있음
+ 행을 구분해주는 인덱스(index)와 열을 구분해주는 컬럼(column)

In [ ]:
import pandas as pd

index = pd.date_range('2020/1/1', periods=8)
print(index)

DatetimeIndex(['2020-01-01', '2020-01-02', '2020-01-03', '2020-01-04',
               '2020-01-05', '2020-01-06', '2020-01-07', '2020-01-08'],
              dtype='datetime64[ns]', freq='D')

In [ ]:
import pandas as pd
import numpy as np

df = pd.DataFrame(np.random.rand(8,3), index = index, columns = list('ABC'))
df

                   A         B         C
2020-01-01  0.340831  0.940627  0.119910
2020-01-02  0.837566  0.568838  0.028244
2020-01-03  0.508295  0.708200  0.383425
2020-01-04  0.006036  0.257129  0.896290
2020-01-05  0.394785  0.925618  0.796222
2020-01-06  0.801558  0.865386  0.165872
2020-01-07  0.723549  0.674883  0.153461
2020-01-08  0.358182  0.808181  0.966378

In [ ]:
import pandas as pd
import numpy as np
index = pd.date_range('2020/1/1', periods=8)
df = pd.DataFrame(np.random.rand(8,3), index = index, columns = list('ABC'))
print(df['B'])

2020-01-01    0.522181
2020-01-02    0.486073
2020-01-03    0.202999
2020-01-04    0.480139
2020-01-05    0.580710
2020-01-06    0.526108
2020-01-07    0.661563
2020-01-08    0.966297
Freq: D, Name: B, dtype: float64

In [ ]:
import pandas as pd
import numpy as np
index = pd.date_range('2020/1/1', periods=8)
df = pd.DataFrame(np.random.rand(8,3), index = index, columns = list('ABC'))
print(df['B'] > 0.4)

2020-01-01    False
2020-01-02     True
2020-01-03     True
2020-01-04    False
2020-01-05     True
2020-01-06     True
2020-01-07     True
2020-01-08    False
Freq: D, Name: B, dtype: bool

In [ ]:
df2 = df[df['B'] > 0.4]
df2

                   A         B         C
2020-01-02  0.086257  0.978445  0.010950
2020-01-03  0.976806  0.548008  0.942794
2020-01-05  0.589193  0.969163  0.121691
2020-01-06  0.980999  0.629329  0.781517
2020-01-07  0.614831  0.682556  0.278018

+행과 열을 바꾸기

In [ ]:
import pandas as pd
import numpy as np
index = pd.date_range('2020/1/1', periods=8)
df = pd.DataFrame(np.random.rand(8,3), index = index, columns = list('ABC'))
df.T

,2020-01-01,2020-01-02,2020-01-03,2020-01-04,2020-01-05,2020-01-06,2020-01-07,2020-01-08
A,0.070962,0.637429,0.841506,0.546364,0.826348,0.128263,0.386152,0.854279
B,0.984445,0.981040,0.187451,0.482856,0.053756,0.453740,0.592954,0.914104
C,0.759058,0.715848,0.732004,0.975670,0.054204,0.584210,0.557586,0.179075

## pandas 데이터프레임 함수
+ 통계함수
+ 리스트[]를 여러 개 묶어 놓은 2차원 배열 생성 array 데이터를 DataFrame에 넣어 컬럼과 인덱스 넣어 줌
+ 통계용 함수 사용하여 결과 분석

In [12]:
import pandas as pd

data =[[1.4, None], 
       [7.1,-4.5], 
       [None, None], 
       [0.75, -1.3]]
df = pd.DataFrame(data, columns=['one', 'two'], index=['a', 'b', 'c', 'd'])
df

    one  two
a  1.40  NaN
b  7.10 -4.5
c   NaN  NaN
d  0.75 -1.3

## sum()
+ 행, 열 방향에 따른 합계를 구하는 함수
+ axis = 0을 주면 열의 합계
+ axis = 1을 주면 행의 합계
+ NaN(Not a Number)은 연산과정에서 잘못 입력된 값, 누락값을 말함

In [ ]:
df.sum(axis=0) #열의 합계

one    9.25
two   -5.80
dtype: float64

In [ ]:
df.sum(axis=1) #행의 합계

a    1.40
b    2.60
c    0.00
d   -0.55
dtype: float64

In [ ]:
df['one'].sum()#열

9.25

In [ ]:
df.loc['b'].sum()#행

2.5999999999999996

## mean()
+ 행, 열 방향에 따른 평균을 구하는 함수
+ axis = 0을 주면 열의 평균
+ axis = 1을 주면 행의 평균

In [ ]:
df.mean() #각 열의 평균

one    3.083333
two   -2.900000
dtype: float64

In [ ]:
df.loc['a'].mean()

1.4

In [ ]:
df.mean(axis=1, skipna =False) #skipna 누락값을 무시하지 않을때

a      NaN
b    1.300
c      NaN
d   -0.275
dtype: float64

## var() 분산함수
+ 행, 열 방향에 따른 분산을 구하는 함수

분산은 관측값에서 평균을 뺀값을 제곱하고 그것을 모두 더한 후 전체 개수로 나눠서 구한다. 즉, 차이값의 제곱의 평균이다.

데이터가 평균에 가까울수록 편차는 작아지므로 분산은 작아지고, 평균과 멀리 떨어져있을수록 편차는 커지고 분산 또한 증가.

In [4]:
df.var()

one    12.205833
two     5.120000
dtype: float64

In [5]:
df.loc['b'].var()

67.28

## fillna()
+ 누락값을 특정값으로 대체하는 기능
+ 특정 텍스트, 평균값, 0, 최대값으로 대체

In [6]:
one = df['one'].mean()
two = df['two'].min()

df['one'] = df['one'].fillna(value=one)
df['two'] = df['two'].fillna(value=two)
df

        one  two
a  1.400000 -4.5
b  7.100000 -4.5
c  3.083333 -4.5
d  0.750000 -1.3

## std()
+ 행, 열 전체 성분의 표준 편차 계산하는 함수
+ axis = 0(열), axis = 1(행)

표준 편차 : 분산에 루트를 씌운 것이 표준표차이며 평균으로 부터 원래 데이타에 대한 오차범위의 근사값이다. 표준편차가 0에 가까울수록 측정값이 평균에 가까움을 의미.

In [7]:
df.std(axis =0)

one    2.852582
two    1.600000
dtype: float64

In [8]:
df.std(axis =1)

a    4.171930
b    8.202439
c    5.362226
d    1.449569
dtype: float64

In [9]:
df.min(axis =0) #최소값

one    0.75
two   -4.50
dtype: float64

In [10]:
df.max(axis=1)#최대값

a    1.400000
b    7.100000
c    3.083333
d    0.750000
dtype: float64

In [13]:
df.count(axis=0) #누락값을 제외한 개수

one    3
two    2
dtype: int64

In [14]:
df.count(axis=1)

a    1
b    2
c    0
d    2
dtype: int64


+ argmin() : 단일 열배열 성분의 최소값이 위치한 인덱스
+ argmaz() :단일 열배열 성분의 최대값이 위치한 인덱스
+ idxmin() : 전체 인덱스 중 최소값을 반환
+ idxmax() : 전체 인덱스 중 최대값을 반환
+ median() : 전체 성분의 중간값을 반환
+ cumsum() : 맨 첫번째 성분부터 각 성분가지의 누적합을 계산
+ mad() : 전체 성분의 평균값으로부터의 절대 편차의 평균 계산

## pandas 데이터프레임 통계함수 및 특정함수 사용하기

In [16]:
import pandas as pd

data = [[1.4, None],
        [7.1, -4.5],
        [None, None],
        [0.75, -1.3]]
df = pd.DataFrame(data, columns=['one', 'two'], index=['a', 'b', 'c', 'd'])
df

    one  two
a  1.40  NaN
b  7.10 -4.5
c   NaN  NaN
d  0.75 -1.3

In [20]:
df.sum(axis=0)

one    9.25
two   -5.80
dtype: float64

In [21]:
df.sum(axis=1)

a    1.40
b    2.60
c    0.00
d   -0.55
dtype: float64

In [23]:
df.mean(axis=0)

one    3.083333
two   -2.900000
dtype: float64

In [24]:
df.mean(axis=1)

a    1.400
b    1.300
c      NaN
d   -0.275
dtype: float64

In [25]:
df.loc['a']#a행에 대한 평균

one    1.4
two    NaN
Name: a, dtype: float64

In [26]:
df.var()

one    12.205833
two     5.120000
dtype: float64

In [27]:
df.var(axis=1)

a         NaN
b    67.28000
c         NaN
d     2.10125
dtype: float64

In [29]:
df.one = df.one.fillna(0)
df

    one  two
a  1.40  NaN
b  7.10 -4.5
c  0.00  NaN
d  0.75 -1.3

In [31]:
two = df['two'].min()
df['two'] = df['two'].fillna(value=two)
df

    one  two
a  1.40 -4.5
b  7.10 -4.5
c  0.00 -4.5
d  0.75 -1.3

In [33]:
df.std(axis=0) # 표준편차

one    3.242523
two    1.600000
dtype: float64

In [34]:
import pandas as pd

data = [[1.4, None],
        [7.1, -4.5],
        [None, None],
        [0.75, -1.3]]
df = pd.DataFrame(data, columns=['one', 'two'], index=['a', 'b', 'c', 'd'])
df.min(axis=1)

a    1.4
b   -4.5
c    NaN
d   -1.3
dtype: float64

In [35]:
df.max(axis=0)

one    7.1
two   -1.3
dtype: float64

In [36]:
df.count(axis=0)#열에 대한 개수(NaN제외)

one    3
two    2
dtype: int64

In [37]:
df.count(axis=1)#행에 대한 개수(NaN제외)

a    1
b    2
c    0
d    2
dtype: int64

In [46]:
import numpy as np
import pandas as pd

df2 = pd.DataFrame(np.random.rand(6,4), columns=['A', 'B', 'C', 'D'], index=pd.date_range('20200701', periods=6))
df2

                   A         B         C         D
2020-07-01  0.657824  0.581445  0.126648  0.394581
2020-07-02  0.413995  0.077386  0.475646  0.872338
2020-07-03  0.859871  0.100152  0.535390  0.136130
2020-07-04  0.465853  0.358694  0.409059  0.322941
2020-07-05  0.205999  0.525487  0.971669  0.278853
2020-07-06  0.037999  0.654180  0.777799  0.199229

In [41]:
#index를 기준으로 정렬
df2.sort_index(axis=0, ascending=False)#내림차순

                   A         B         C         D
2020-07-06  0.870275  0.608129  0.432104  0.292816
2020-07-05  0.760126  0.475116  0.891950  0.776343
2020-07-04  0.619444  0.229360  0.457299  0.218787
2020-07-03  0.765452  0.792910  0.970817  0.199845
2020-07-02  0.235564  0.001955  0.508172  0.755637
2020-07-01  0.231718  0.044387  0.790011  0.452193

In [49]:
df2['E'] = np.random.randint(0,6, size=6)
df2['F'] = ['alpha', 'beta', 'gamma', 'gamma', 'alpha', 'gamma']
df2

                   A         B         C         D  E      F
2020-07-01  0.657824  0.581445  0.126648  0.394581  5  alpha
2020-07-02  0.413995  0.077386  0.475646  0.872338  5   beta
2020-07-03  0.859871  0.100152  0.535390  0.136130  0  gamma
2020-07-04  0.465853  0.358694  0.409059  0.322941  1  gamma
2020-07-05  0.205999  0.525487  0.971669  0.278853  3  alpha
2020-07-06  0.037999  0.654180  0.777799  0.199229  4  gamma

In [51]:
df2['F'].unique()

array(['alpha', 'beta', 'gamma'], dtype=object)

In [52]:
df2['F'].value_counts()

gamma    3
alpha    2
beta     1
Name: F, dtype: int64