<a href="https://colab.research.google.com/github/kig2929kig/colab/blob/main/%EB%8D%B0%EC%9D%B4%ED%84%B0%EB%B6%84%EC%84%9D%EB%B0%8F%EC%8B%9C%EA%B0%81%ED%99%94ipynb.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 데이터 분석과 시각화
+ 기상자료개방포털 (https://data.kma.go.kr)  
+ 공공데이터포털  
+ 서울 열린데이터 광장(https://data.seoul.go.kr/)  

##  CSV 파일
+ CSV(Comma-Separated Values) 각각의 데이터 값을 콤마(,)로 구분하는 파일.
+ 데이터 분석 전문가들이 자주 사용하는 파일 형식.
+ 메모장, 엑셀 프로그램에서 열어볼 수 있음.
+ 공공데이터포털에서 제공하는 파일 형식

In [ ]:
import csv

f = open('/content/drive/MyDrive/Colab Notebooks/test.csv', 'r', encoding='cp949') #utf8

data = csv.reader(f, delimiter=',')
#print(data)
for row in data : #리스트 - 인덱싱과 슬라이싱 가능
  print(row) # 한줄씩 출력

f.close()

<_csv.reader object at 0x7f19675294d0>
['기온분석']
['[검색조건]']
['자료구분 : 일']
['자료형태 : 기본']
['지역/지점 : 서울']
['기간 : 20221002~20221031']
[]
['날짜', '지점', '평균기온(℃)', '최저기온(℃)', '최고기온(℃)']
[]
['\t2022-10-02', '108', '19.4', '17.2', '21.6']
['\t2022-10-03', '108', '21.4', '17.5', '23.4']
['\t2022-10-04', '108', '17.9', '14.2', '23']
['\t2022-10-05', '108', '16.6', '14.1', '21.6']
['\t2022-10-06', '108', '15.8', '12.7', '19.1']
['\t2022-10-07', '108', '14.3', '11', '18.6']
['\t2022-10-08', '108', '15.8', '11.1', '21.6']
['\t2022-10-09', '108', '13.1', '10.7', '14.5']
['\t2022-10-10', '108', '9.9', '8.2', '11.9']
['\t2022-10-11', '108', '11.1', '7.4', '16.4']
['\t2022-10-12', '108', '13.5', '6.5', '20.6']
['\t2022-10-13', '108', '16.3', '10.7', '22.7']
['\t2022-10-14', '108', '17.1', '12.4', '23']
['\t2022-10-15', '108', '18.2', '12.6', '24.4']
['\t2022-10-16', '108', '16.9', '15.1', '20.5']
['\t2022-10-17', '108', '11.2', '7.4', '15.1']
['\t2022-10-18', '108', '9.4', '5', '14.2']
['\t2022-10-19', '108', '10.5', '4.4', '16.8']
['\t2022-10-20', '108', '12.9', '6', '19.7']
['\t2022-10-21', '108', '14', '8.8', '20.9']
['\t2022-10-22', '108', '15.1', '10.5', '20.8']
['\t2022-10-23', '108', '14', '10.4', '18.6']
['\t2022-10-24', '108', '10.6', '7.5', '14.8']
['\t2022-10-25', '108', '11.3', '5.9', '17.6']
['\t2022-10-26', '108', '12.9', '8', '17.8']
['\t2022-10-27', '108', '13.2', '8.6', '18.9']
['\t2022-10-28', '108', '13.6', '8.2', '20.6']
['\t2022-10-29', '108', '14.8', '10.2', '21.3']
['\t2022-10-30', '108', '14.9', '10.4', '21.3']
['\t2022-10-31', '108', '14.9', '11.2', '21.1']
['\t']
[]

## 헤더 저장
+ 데이터 파일에서 여러 가지 값들이 어떤 의미를 갖는지 표시한 행
+ 수많은 데이터를 다룰 때 표지판과 같은 역할
+ 헤더를 통해 각 열의 데이터가 어떤 의미를 갖는지 알 수 있기 때문에 매우 중요한 데이터

In [26]:
import csv

f = open('/content/drive/MyDrive/Colab Notebooks/test.csv', 'r', encoding='cp949') 

data = csv.reader(f)

header = next(data)# next() 메소드를 사용하여 데이터의 첫 번째 행을 변수에 저장
print(header) 
f.close()

['날짜', '지점', '평균기온(℃)', '최저기온(℃)', '최고기온(℃)']

## 서울 열린데이터 광장 - seoul.csv

In [ ]:
import csv

f = open('/content/drive/MyDrive/Colab Notebooks/seoul.csv', 'r') 

data = csv.reader(f)
#print(data)

header = next(data)
print(header)
print()
for row in data :
  print(row)

f.close()

## pandas
+ 데이터 분석용 라이브러리로 데이터를 다루는 패키지 중 하나
+ 데이터 분석을 위한 효율적인 데이터 구조를 제공, 1차원 배열 형태의 데이터 구조인 Series와 2차원 배열 형태의 데이터 구조인 Data Frame으로 구성
+ 데이터 분석의 시작을 pandas라고도 불림.
+ 엑셀의 스프레드시트와 유사한 형태이며 파이썬으로 데이터를 쉽게 처리
+ 시계열 데이터(시간의 경과에 따라 관측된 결과 값)를 조작하고 운영하기 위한 데이터를 제공
+ SQL 같은 일반 데이터베이스처럼 데이터를 합치고 관계연산을 수행하는 것이 가능

pandas 라이브러리는 내장 라이브러리가 아니기 때문에 원래는 별도로 설치해야함. 코랩에서는 자동으로 설치되어 있음.

In [34]:
import pandas as pd

name = ['Bob', 'Jessica', 'Mary', 'John', 'Mel']
births = [968, 155, 77, 578, 973]
custom = [1, 5, 25, 13, 23232]

DataSet = list(zip(name, births))
#print(DataSet)
df = pd.DataFrame(data = DataSet, columns = ['Name', 'Births'])
df.head() # 데이터 앞에서 부터 5개 출력
#df.head(2)

      Name  Births
0      Bob     968
1  Jessica     155
2     Mary      77
3     John     578
4      Mel     973

## pandas 자료형 - 시리즈(Series)
+ 1차원 배열 형태의 데이터 구조 사용.
+ 가로 방향으로 크기 변경
+ 열 1개를 의미

In [36]:
import pandas as pd

series_ex = pd.Series(['월', '화', '수', '목', '금', '토', '일'], index=[0,1,2,3,4,5,6])
print(series_ex)
print(series_ex[0])

0    월
1    화
2    수
3    목
4    금
5    토
6    일
dtype: object
월